name: hexo

on: push

env:
  NODE-VERSION: "22.x"

jobs:
  hexo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
      - name: Get npm cache directory
        id: npm-cache-dir
        run: |
          echo "::set-output name=dir::$(npm config get cache)"
      - uses: actions/cache@v4
        id: npm-cache # use this to check for `cache-hit` ==> if: steps.npm-cache.outputs.cache-hit != 'true'
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - run: npm ci
      # https://help.github.com/en/actions/reference/workflow-commands-for-github-actions#adding-a-system-path
      - run: echo "$GITHUB_WORKSPACE/assets/node_modules/.bin" >> $GITHUB_PATH
      - run: npm run deploy
